/* Custom Props */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: #0a775fcc;
  --accent-color-green-60: #0a775f99;
  --accent-color-wheat: #c99b67;
  --accent-color-wheat-80: #c99b67cc;
  --accent-color-wheat-60: #c99b6799;
  --light-brown: #f3d7b7;
  --light-bg: #f8f8f2;
  --outline-color: var(--accent-color-green);
}


/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 5px;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* Button */
.button {
  display: inline-block;
  padding: 16px 24px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;

}

.button-green {
  background-color: var(--accent-color-green);
  color: #fff; 
  transition: background-color .3s ease;
}

.button-green:hover {
  background-color: var(--accent-color-green-80);
}

.button-green:active {
  background-color: var(--accent-color-green-60);
}

.button-wheat {
  background-color: var(--accent-color-wheat);
  color: #fff; 
  transition: background-color .3s ease;
}

.button-wheat:hover {
  background-color: var(--accent-color-wheat-80);
}

.button-wheat:active {
  background-color: var(--accent-color-wheat-60);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* Site Header Intro Wrapper */
.site-header-hero-wrapper {
  background-image: url("../img/site-header-intro-bg.jpg");
}


/* Site Header Wrapper */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.site-header-logo-link {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
  transition: opacity .3s ease;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}


.site-header-logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}


/* SiteNav */
.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  transition: color .3s ease,
              opacity .3s ease;
  white-space: nowrap;
}

.sitenav-link:hover {
  color: var(--accent-color-green);
}

.sitenav-link:active {
  opacity: 0.6;
}


/* Hero */
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding: 116px 116px 100px 150px;

}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  color: #000;
  font-size: 64px;
  line-height: normal ;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.hero-text:not(:last-child){
  margin-bottom: 34px;
}

.hero-img {
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
}


/* Index Collection */
.index-collection {

}

.index-collection-inner {
  padding: 50px 143px;
  background-color: var(--light-bg);
  background-image: url("../img/index-collection-bg.jpg");
}

.index-collection-heading {
  font-size: 50px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.index-collection-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.index-collection-info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.index-collection-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.index-collection-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
}

.index-collection-text:not(:last-child) {
  margin-bottom: 10px;
}